@tailwind base;
@tailwind components;
@tailwind utilities;

.grid_layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 40px;
}
.wrap {
  margin: auto;
  max-width: calc(100% - 400px);
}
